.dashboard-container{
    position:relative;
    background-color:#254A42;
    border-radius: 0px 0px 35% 35%;
    height:43%;
}

.scrollable {
    overflow: auto;
    padding: 20px 20px 130px 20px;
    height: 195%;
}

ion-content {
    --overflow: hidden;
    overflow: hidden;
}


.course-session{
   z-index:-1;
}
.content-container{
    padding-top:40px;
}

.content-container img{
    position:absolute;
    left:55%;
    top:13%;
    margin-right:7%;
    width:120px
}
.ot-name{
    display:flex
}

.menu-icon{
    // position: absolute;
    height:auto;
    color:#fff;
    float:right;
    margin-top:5%;
    margin-right:10%;
}

.menu-icon ion-icon{
    // padding-top:20%;
    // padding-right:30%
    font-size:130%;
}


.msg-cont{
    position:absolute;
    top:30%;
    left:15%;
}

.welcome{
    font-size:20px;
    font-family: Arial;
    color:#FFFFFF;
}

.name-2{
    font-size:20px;
    font-family: Arial;
    color:#FFFFFF; 
    margin-top:7px; 
}

.profile-btn{
    margin-left:18px;
    background-color:#C3A873;
    font-size:10px;
    font-family: Arial;
    text-align:center;
    margin-top:10px;
    padding:4px 5px;
    border-radius:5px;
}


.search-div{
    position:absolute;
    top:45%;
    width:100%;
}
.search-bar {
    margin-top:20px;
    margin-left:12%;
    width:78%;
    height:0%
}

ion-item{
    padding:0px;
    margin-bottom: 15px;
    border-radius:25px 25px;
}

ion-input{
    height:20px;
}


.view-course{
    background-color:#C3A873;
    // height:90%;
    margin-top:9%;
    border-radius: 20px 20px 0px 0px;
    width:100%;
    height:90%;
}

.view-course-container{
    position:absolute;
    top:60%;
    margin: 0px 40px;
    margin-top:15px;
    height:180px;
    width:80%;
    margin-left:10%;
    margin-right:10px;
}

.l-skill{
    margin-left:20px;
    padding-top:30px;
    font-size: 19px;
    color:#fff;
    font-family:arial
}

.profile-view{
    margin:0px 25%;
    background-color:#254A42;
    font-size:12px;
    font-family: Arial;
    text-align:center;
    color:#C3A873;
    margin-top:20px;
    padding:12px 1px;
    border-radius:10px;
}

.profile-container{
    margin-left:60px;
}

.profile-container ion-icon{
    font-size:14px;
}


.pop{
    font-size:12px;
    font-family: Arial;
   color:#254A42;
    margin:10px 0px;
}

.web-course{
    background-color:#E0E2FF;
    width:auto;
    border-radius:10px

}

.web-container {
    background-color:#E0E2FF;
    width:auto;
    height:100%;
    border-radius:10px;
    display:flex;
    text-align:center;
    justify-content: space-between;
}

.web-container-ets{
    background-color:#E0FFED;
    width:auto;
    height:100%;
    border-radius:10px;
    display:flex;
    text-align:center;
    justify-content: space-between;

}

.web-container-math{
    background-color:#FFE0EA;
    width:auto;
    height:100%;
    border-radius:10px;
    display:flex;
    text-align:center;
    justify-content: space-between;
}

.w-design{
    padding-top:25px;
    font-family:arial;
    font-size:12px;
    color:#254A42;
    font-weight:bold    
}

.hours{
    font-family:arial;
    font-size:10px;
    color:#254A42;
    padding-top:5px;
}

.add-icon{
    margin-top:27%;
}
.add-icon ion-icon{
    border:3px solid black;
    font-weight:bold
}

.old-price{
    font-size:13px;
    font-family:arial;
    color:#164A03
}

.new-price{
    font-size:13px;
    font-family:arial;
    color:#164A03 
}