<ion-content>
  <ion-slides pager="true">
    
    <ion-slide>
      <div>
        <img src="assets/images/music2.png" alt="logo">
        <h3>One stop Arena for all upcoming music events</h3>
        <p style="font-size:20px">Enjoy latest musical event<br> on the go</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <img src="assets/images/music4.png" alt="logo">
        <h3>Latest Hit Jams</h3>
        <p style="font-size: 20px;">Find and discover on hotMuzikArena<br> latest hiphop singles</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <img src="assets/images/music5.png" alt="logo">
        <h3>Keep your playlist save</h3>
        <p style="font-size: 20px;">Add and manage your playlist</p>
      </div>
      <ion-button (click)="goToDashboard()" expand="block">Continue</ion-button>
    </ion-slide>
    
  </ion-slides>
</ion-content>